<!DOCTYPE html>
<html lang="en" class="no-js">
  <%- include('header'); -%>
  
<body class=" ">
 
  <%- include('nav'); -%>
  <main class="l-main overlay" id="main-content" tabindex="-1" role="main">
    <section class="l-content-w-sidebar ">
      <div class="l-content-w-sidebar__sidebar l-content-w-sidebar__sidebar--w-nav">
        <nav class="sidebar-nav">
          <div class="sidebar-nav__nav-items"> <a href="#">
            Rights and obligations</a>
            <a href="#consumer-awareness">
              Consumer Awareness</a>
            <a href="#compliant">
              Complaint Handling</a>
              <a href="#dispute">
                Dispute Resolution</a>
  

          </div>
        </nav>
        <aside class="l-extra-sidebar-content"></aside>
      </div>
      <section class="l-content-w-sidebar__content ">
        <section class="l-content-w-sidebar__inner-content" style='padding-top:30px'>
          <div class="l-content l-content--about-innovation" id='rights'>

            <h1 class="heading heading--l">Complaints handling Procedures and Dispute Resolution</h1>

            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction">
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong">A consumer may file complaints against service providers/operators licensed by ECA such as Safari-com, Ethio-telecom, and Ethiopian Postal Service Enterprise on service quality, delivery process, billing and any other related matter. 
                </p>
              </div>
            </div>

            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction">
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong">The consumer is first expected to make a reasonable attempt to resolve the dispute directly with the service provider/operator. After the complainant has exhausted all the channels with the service provider/operator and in case no solution could be reached between the two, then the complainant may file a complaint with the Authority.  </p>
              </div>
            </div>

            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction">
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong">The Ethiopian Communications Authority has issued dispute resolution directive for the submission, hearing and determination of matters arising from such dissatisfactions and complaints. The Authority will investigate complaints on the facts provided by both parties (the Service provider and the complainant), and it will reach a resolution based on the Dispute resolution directive and what it considers to be fair and reasonable under the circumstances.


                </p>
              </div>
            </div>

            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction">
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong">The following Complaint handling procedure is an inherent part of the directive.
                </p>
              </div>
            </div>


            <div class="hr" id="consumer-awareness"></div>

      



          </div>
          <div class="l-content l-content--about-innovation" style="padding-bottom:0!important;">

            <h1 class="heading heading--l">How to complain</h1>

            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction" >


              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> 
                  A consumer who has an issue against Service Provider licensed by ECA such as Safari-com, Ethio-telecom, and Ethiopian Postal Service Enterprise in the service provision may complain to the Authority for redress.
                </p>

              </div>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> 
                  Consumers first their complaints with the Service Provider with whom they have transacted with; the service providers are willing to resolve their complaints amicably and swiftly.
                </p>

              </div>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong" > 
                  When a complaint made to a Service Provider is not resolved satisfactorily in the complainant's opinion, the matter may be referred to Ethiopian Communications Authority.  
                </p>

              </div >
         
            </div>
          
            
                  <div class="hr" id="compliant" ></div>



          </div>
         
          <div class="l-content l-content--about-innovation" style="padding-bottom:0!important;">

            <h1 class="heading heading--l">Lodging complaint with ECA</h1>

            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction" >


              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> 
                  The complaint with the Authority can be applied either in written or in electronic form. The complaint application must include
                </p>

              </div>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> 
                  1) The full names, addresses and telephone numbers of the complaint </p>

              </div>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> 
                  2) The reference number of Service provider/Operator against whom the complaint is made</p>

              </div>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> 
                  3) A statement of the nature of complaint together with copies of any document in support or in relation to the complaint</p>

              </div>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> 
                  4) The nature of dissatisfaction or the alleged harm that the complaint has suffered as a result of action</p>

              </div>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> 
                  5) The remedy or relief sought by the compliant  with the service provider/Operator</p>

              </div>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> 
                  6) Any other relevant information.</p>

              </div>

              
            </div>
            <div  id="dispute"></div>
            <div class="hr"></div>



          </div>
          
          <div class="l-content l-content--about-innovation" style="padding-bottom:100px!important;">

            <h1 class="heading heading--l">Respond to a complaint</h1>

            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction" >


              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> 
                  1) Once a complaint is received, the Authority will send a copy to a Service Provider/Operator.  </p>

              </div>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> 
                  2) The Authority demands a response from the service provider/operator within ten working days up on receipt of a complaint.
 </p>

              </div>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> 
                  3) The Authority will appraise the complainant about how the complaint was resolved upon receipt of a response and enquire from the complainant if he/she is satisfied with the outcome. If the complainant is satisfied, the complaint shall be considered as finalized.</p>

              </div>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> 
                  4) If the complainant is not satisfied, the authority thereafter conducts a preliminary inquiry into the complaint. If the complaint in question can be resolved by mediation and or settlement, Authority will conduct a formal hearing where both parties will be given the opportunity to state their case.
</p>

              </div>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> 
                  1. At the conclusion of the formal hearing, the Authority will give a decision to a complainant.</p>

              </div>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> 
                  5) If a complainant dissatisfied by the Decision of the Authority may appeal the Decision to the Appeals Tribunal within thirty days of the effective date of the decision by the Authority.
</p>

              </div>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> 
                  6) If a complainant dissatisfied by the Decision of the Appeals Tribunal may appeal the Decision to the Federal High Court within sixty days from the date of the Decision the Appeals Tribunal, only for error of law.</p>

              </div>

              
            </div>

 



          </div>
        </section>
      </section>
    </section>    <%- include('footer'); -%>
  </main>
  </div>

  <script src="dist/scripts/app-0b1e4679f438944fb96c.js"></script>
</body>

</html>